<div class="sidebar bg-dark text-white p-3 vh-100" style="width: 250px;">
    <a href="{{ path('app_dashboard') }}" class="d-block text-white mb-2">Dashboard</a>
    <a href="{{ path('app_member') }}" class="d-block text-white mb-2">Anggota</a>
    <a href="{{ path('app_books') }}" class="d-block text-white mb-2">Buku</a>
    <a href="#" class="d-block text-white mb-2">Pinjaman</a>
</div>
